*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-container{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10vw;
  margin-left: 2rem;
}

.header-logo img{
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin: 2rem;
}


.nav-container{
  display: flex;
  justify-content: center;
}

.nav-elements-container{
  display: flex;
  flex-direction: row;
}

.nav-element{
  font-size: 1.2rem;
  list-style: none;
  margin: 30px;
  transition: 0.5s ease;
  cursor: pointer;
}

.nav-element:hover{
  text-decoration: underline;
}

.main-container{
  width: 100vw;
}


.main-elements{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-element{
  width: 30vw;
  display: flex;
  align-items: center;
}

.main-element img{
  width: 100%;
}

.main-element{
  border: 2px solid black;
  border-radius: 10px;
}

.product-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-one{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.product-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-one img{
  width: 80%;
}